@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat';
  margin: 0;
}

body #bg {
  -webkit-clip-path: polygon(100% 0, 100% 85%, 45% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 45% 100%, 0 100%, 0 0);
  background-color: #005DFF;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
            clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
  }
}

body header, body a {
  color: #FFF;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 840px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50%, auto;
        grid-template-columns: 50%, auto;
        grid-template-areas: "primary card";
  }
}

main section#card {
  background: #FFF;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
}

@media (min-width: 840px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
  }
}

main section#card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main section#card ul li {
  margin-bottom: 10px;
}

main section#card ul li span {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ccdfff;
  border-radius: 50%;
  margin-right: 10px;
}

main section#card ul li strong {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

main section#primary {
  text-align: center;
  padding: 15px;
  color: #FFF;
}

@media (min-width: 840px) {
  main section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

main section#primary h1 {
  font-size: 3em;
  margin-top: 10px;
  text-transform: uppercase;
}

main section#primary p {
  font-size: 1.4em;
}

main section#primary a {
  color: #001333;
  background-color: #FFF6BB;
  text-transform: uppercase;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 15px;
  margin: 50px, auto, 0 auto;
}

@media (min-width: 840px) {
  main section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}

/* Styling for Custom Radio Button */
/* The container */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: inline-block;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: inline-block;
}

.radioContainer:hover {
  color: #00adef;
}

.radioContainer:hover input ~ .checkmark {
  border: 1px solid #00adef;
  display: inline-block;
}

.radioContainer input:checked ~ .checkmark {
  background-color: #00adef;
  border: 1px solid #00adef;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioContainer input:checked ~ .checkmark:after {
  display: inline-block;
}

.radioContainer .checkmark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

/* The container */
.radioContainerIL {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioContainerIL input {
  position: relative;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid #ddd;
  vertical-align: middle;
  bottom: 3px;
}

.radioContainerIL:hover {
  color: #00adef;
}

.radioContainerIL:hover input {
  border: 1px solid #00adef;
  display: inline-block;
}

.radioContainerIL input:checked {
  border: 5px solid #00adef;
  border-radius: 50%;
}

.radioContainerIL label {
  vertical-align: middle;
}

.radioContainerIL input:checked + label {
  color: #00adef;
}

/* checkbox container */
.checkboxContainerIL {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainerIL input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #ddd;
  vertical-align: middle;
  bottom: 3px;
}

.checkboxContainerIL:hover {
  color: #00adef;
}

.checkboxContainerIL:hover input[type="checkbox"] {
  border: 1px solid #00adef;
  display: inline-block;
}

.checkboxContainerIL input[type="checkbox"]::after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainerIL input[type="checkbox"]:checked {
  background-color: #00adef;
  border: 1px solid #00adef;
}

.checkboxContainerIL input[type="checkbox"]:checked::after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  display: block;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(42deg);
  transform: rotate(42deg);
}

.checkboxContainerIL label {
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 0px;
}

.checkboxContainerIL input[type="checkbox"]:checked + label {
  color: #00adef;
}

.checkboxContainerIL input[type="checkbox"]:disabled {
  background-color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.checkboxContainerIL input[type="checkbox"]:disabled + label {
  color: #999;
  cursor: not-allowed;
}
/*# sourceMappingURL=main.css.map */